---
import Head from '../components/Head.astro';
import '../styles/global.css';

export interface Props {
  title: string;
  description?: string;
  image?: string;
  canonical?: string;
}

const { title, description, image, canonical } = Astro.props;
---

<Head 
  title={title} 
  description={description} 
  image={image} 
  canonical={canonical}
/>

<main>
  <slot />
</main>
